header {
    background-color: #4c5eff;
    color: #ffffff;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}

h1{
    color: #ffffff;
}

main{
    background-color: #889eff;
    color: #ffffff;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

img{
    display: block;
    width: 250px;
    margin: 0 auto;
    border: 4px solid #1f1480;
    height: 300px ;
}